@use "../fowards.scss" as *;

.input {
  &__wrapper {
    @include flex(space-between, center);
    gap: px_rem(8);
    box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent,
      0 12px 24px transparent;
    border-radius: px_rem(12);
    padding: px_rem(8) px_rem(16);
    position: relative;
    height: px_rem(52);
    cursor: pointer;

    &:hover {
      background: #111;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.05),
        0 12px 24px rgba(0, 0, 0, 0.05);
    }

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      padding: 1px;
      background: radial-gradient(
        75% 75% at 25% 15%,
        #fff 0,
        rgba(255, 255, 255, 0.3) 100%
      );
      mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
      mask-composite: exclude;
      opacity: 0.5;
      pointer-events: none;
    }

    input {
      background: transparent;
      outline: none;
      border: none;
      font-size: px_rem(16);
      color: #fff;
      width: 100%;
    }

    img {
      width: px_rem(16);
      height: px_rem(16);
    }
  }
}
