@use "../fowards.scss" as *;

.pagination {
  display: flex;
  justify-content: center;
  margin-block: px_rem(48);
  gap: px_rem(48);

  button {
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent,
      0 12px 24px transparent;
    border-radius: px_rem(8);
    padding: px_rem(8) px_rem(16);
    position: relative;
    background: transparent;
    color: #fff;
    height: px_rem(48);
    width: px_rem(48);

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      padding: 1px;
      background: radial-gradient(
        75% 75% at 25% 15%,
        #fff 0,
        rgba(255, 255, 255, 0.3) 100%
      );
      mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
      mask-composite: exclude;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
