@use "../fowards.scss" as *;

.element {
  &__container {
    box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent,
      0 12px 24px transparent;
    cursor: pointer;
    height: 100%;
    z-index: 1;
    border-radius: px_rem(12);
    padding: px_rem(8) px_rem(16);

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      padding: 1px;
      background: radial-gradient(
        75% 75% at 25% 15%,
        #fff 0,
        rgba(255, 255, 255, 0.3) 100%
      );
      mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
      mask-composite: exclude;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__slide {
    max-width: 32px;
    cursor: pointer;
  }
}

.pokedex {
  &__header {
    padding-top: px_rem(32);
    @include flex(space-between, center);
    gap: px_rem(32);
    margin-bottom: px_rem(32);
    > * {
      flex: 1;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      > * {
        flex: unset;
        width: 100%;
      }
    }
  }

  &__content {
    margin-top: 150px;
    min-height: 500px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: px_rem(72) px_rem(32);
  }

  &__empty {
    @include flex(center, center);
    min-height: 400px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 1.5rem;
    background-color: rgba(250, 250, 250, 0.1);
    border-radius: 0.75rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    @include transition;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    width: 200px;
    height: auto;
    margin-top: -80px;
  }

  &__name {
    font-size: px_rem(24);
    font-weight: 700;
    margin-block: px_rem(8);
    text-transform: capitalize;
  }

  &__type {
    display: flex;
    gap: px_rem(16);
    list-style: none;
    padding-left: unset;
    margin-block: px_rem(16);

    li {
      text-align: center;
      padding: px_rem(8);
      border-radius: px_rem(8);
      width: 120px;
      text-transform: capitalize;
      font-weight: 700;
      display: flex;
      gap: px_rem(8);
      justify-content: center;

      img {
        height: px_rem(16);
      }
    }
  }

  &__evo {
    display: flex;
    gap: px_rem(16);
  }
}
