@use "../fowards.scss" as *;

.element {
  &__container {
    box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent,
      0 12px 24px transparent;
    cursor: pointer;
    height: 100%;
    z-index: 1;
    border-radius: px_rem(12);
    padding: px_rem(8) px_rem(16);

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      padding: 1px;
      background: radial-gradient(
        75% 75% at 25% 15%,
        #fff 0,
        rgba(255, 255, 255, 0.3) 100%
      );
      mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
      mask-composite: exclude;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__slide {
    max-width: 32px;
    cursor: pointer;
  }
}

.pokedex {
  &__header {
    padding-top: px_rem(32);
    @include flex(space-between, center);
    gap: px_rem(32);
    margin-bottom: px_rem(32);
    > * {
      flex: 1;
    }
  }

  &__card {
  }
}
